*{
    margin: 0px;
}
img{
  
    width: 250px;
    height: 250px;
}
body
{
    max-width: 100%;
background-color:#704D36;
font-family: 'Quicksand', sans-serif;
color: white;

}
nav,a
{
    word-spacing: 50px;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
text-decoration: none;
color: beige;
}
h1
{
font-family: 'Quicksand', sans-serif;   
text-align: center;
color:bisque;
}

.places
{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:85%;
    margin:15px,60px,200px,35px;
    padding: 40px; 
    font-family: 'Quicksand', sans-serif;   
    text-align: left;
    color:bisque;
}
.spaces
{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: start;
    padding: 10%;
    width: 25%;
    margin: 5%;
}
p
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width:85%;
    margin:10px;
    padding: 5%;
   

}


footer
{
    margin:25px,100px,100px,70px ;
    padding-top: 35%;
text-align:center;
}

