*{
    margin: 0px;
}
img{
    width: 250px;
    height: 250px;
}
body
{
background-color:#704D36;
font-family: 'Quicksand', sans-serif;
color: white;

}
nav,a
{
    word-spacing: 50px;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
text-decoration: none;
color: beige;
}
h1
{
font-family: 'Quicksand', sans-serif;   
text-align: center;
color:bisque;
}
p
{
   
margin:10px 50px 50px 50px ;
padding-right:100px;
padding-left: 100px;
padding-top: 100;
padding-bottom: 100;
}
.places
{
    font-family: 'Quicksand', sans-serif;   
    text-align: left;
    color:bisque;
}
div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:85%;
    margin:15px 60px 200px,35px;
    padding: 75px; 
}



footer
{
text-align:center;
}

