*{
    margin: 0px;
}
img{
  
    width: 250px;
    height: 250px;
}
body
{
    max-width: 100%;
background-color:#704D36;
font-family: 'Quicksand', sans-serif;
color: white;

}
nav,a
{
    word-spacing: 50px;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
text-decoration: none;
color: beige;
}
h1
{
font-family: 'Quicksand', sans-serif;   
text-align: center;
color:bisque;
}
p
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width:85%;
    margin:10%, 10%, 10%,10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

}
.places
{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:85%;
    margin:15px 60px 200px,35px;
    padding: 75px; 
    font-family: 'Quicksand', sans-serif;   
    text-align: left;
    color:bisque;
}
.spaces
{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 25%;
}



footer
{
    margin:25px,100px,100px 70px ;
    padding-top: 35%;
text-align:center;
}

